body {
    font-family: Arial;
    background: #eef2f3;
    margin: 0;
    text-align: center;
}

header {
    background: #673ab7;
    color: white;
    padding: 20px;
}

.editor, .info {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 90%;
    height: 250px;
    font-size: 16px;
    padding: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    background: #ff9800;
    border: none;
    color: white;
    cursor: pointer;
}
